.about {
    overflow: hidden;
    margin-bottom: 140px;
    @include max($xl) {
        margin-bottom: 50px;
        overflow: visible;
    }
    &__inner {
        position: relative;
        padding-top: 30px;
        border-bottom: 1px solid rgba($black, 0.2);
        &::after,
        &::before {
            position: absolute;
            content: '';
            @include bg;
            width: 160px;
            height: 200px;
            background-image: url(../images/about-decor.jpg);
            @include max($xl) {
                width: 120px;
                height: 160px;
            }
            @include max($lg) {
                width: 95px;
                height: 115px;
            }
            @include max($md) {
                display: none;
            }
        }
        &::after {
            left: -80px;
            top: 0;
            @include max($xl) {
                left: 0;
            }
        }
        &::before {
            right: -80px;
            top: 90px;
            @include max($xl) {
                right: 0;
                top: 0;
            }
        }
    }
    &__subtitle {
        margin: 0 auto 80px;
        max-width: 815px;
        width: 100%;
        font-weight: 600;
        color: $black;
        font-size: 36px;
        text-align: center;
        @include lineClamp;
        -webkit-line-clamp: 5;
        @include max($xl) {
            font-size: 25px;
            max-width: 600px;
            margin-bottom: 50px;
        }
        @include max($lg) {
            font-size: 21px;
            max-width: 480px;
            margin-bottom: 25px;
        }
        @include max($s) {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    &__list {
        max-width: 925px;
        width: 100%;
        margin: 0 auto;
        border-top: 1px solid rgba($black, 0.2);
        padding: 35px 0;
        display: flex;
        justify-content: space-between;
        @include max($md) {
            padding: 15px 0;
            flex-wrap: wrap;
        }
    }
    &__item {
        max-width: 400px;
        width: 100%;
        padding-left: 33px;
        position: relative;
        line-height: 1.3;
        @include lineClamp;
        -webkit-line-clamp: 5;
        &::after,
        &::before {
            position: absolute;
            content: '';
            border-radius: 50%;
        }
        &::after {
            left: 0;
            width: 18px;
            height: 18px;
            top: 0;
            border: 1px solid $brown;
        }
        &::before {
            width: 6px;
            height: 6px;
            background-color: $brown;
            top: 6px;
            left: 6px;
        }
        &:first-child {
            margin-right: 10px;
            @include max($md) {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
        @include max($md) {
            max-width: 100%;
            padding-left: 25px;
        }
    }
}

.about-service {
    background-color: $green;
    padding: 100px 0;
    margin-bottom: 100px;
    @include max($xl) {
        padding: 50px 0;
        margin-bottom: 50px;
    }
    @include max($md) {
        margin-bottom: 10px;
    }
    &__title {
        margin-bottom: 70px;
        @include max($xl) {
            margin-bottom: 40px;
        }
        @include max($md) {
            margin-bottom: 20px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        max-width: 33.3333%;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 80px;
        @include max($lg) {
            max-width: 30%;
        }
        @include max($md) {
            max-width: 26%;
        }
        @include max($sm) {
            max-width: 50%;
            margin-bottom: 10px;
        }
        @include max($s) {
            max-width: 100%;
        }
        &--furniture,
        &--kitchen {
            &::after {
                width: 63px;
                height: 63px;
                background-image: url(../images/furniture.svg);
            }
        }
        &--light {
            &::after {
                width: 46px;
                height: 69px;
                background-image: url(../images/light.svg);
            }
        }
        &--doors {
            &::after {
                width: 68px;
                height: 68px;
                background-image: url(../images/doors.svg);
            }
        }
        &--panels {
            &::after {
                width: 66px;
                height: 66px;
                background-image: url(../images/panels.svg);            
            }
        }
        &--project {
            &::after {
                width: 66px;
                height: 66px;
                background-image: url(../images/project.svg);  
            }
        }
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            @include bg;
        }
        &:nth-child(-n+3) {
            margin-bottom: 73px;
            @include max($lg) {
                margin-bottom: 30px;
            }
            @include max($sm) {
                margin-bottom: 10px;
            }
        }
    }
    &__description {
        max-width: 278px;
        width: 100%;
        font-size: 24px;
        color: rgba(#fff, 0.5);
        @include max($lg) {
            font-size: 19px;
        }
        @include max($md) {
            font-size: 16px;
        }
    }
}