.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}

html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    font-family: $Raleway;
    font-weight: 500;
    background-color: $bg;
    font-size: 16px;
    line-height: 1.2;
    color: $black;
    display: flex;
    flex-direction: column;
    @include max($lg) {
        line-height: 1.5;
        font-size: 16px;
    }
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    @include max($sm) {
        padding: 0 5px;
    }
}

.title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 46px;
    text-align: center;
    color: $black;
    &--white {
        color: #fff;
    }
}


.btn {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
}

.link {
    font-weight: 700;
    display: block;
    padding: 22px 52px;
    background-color: $brown;
    outline: transparent;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
    &:hover {
        background-color: $green;
        color: $brown;
    }
    &:focus {
        background-color: rgba($brown, 0.7);
        color: $black;
    }
    &:active {
        background-color: rgba($black, 0.7);
        color: #fff;
    }
}


.phone {
    display: block;
    position: relative;
    font-weight: 600;
    font-family: $Lato;    
    font-size: 20px;
    outline: transparent;
    transition: color 0.3s ease-in;
    padding-left: 25px;
    color: $green;
    &::after {
        position: absolute;
        content: '';
        left: 0;
        top: 3px;
        width: 13px;
        height: 20px;
        background-image: url(../images/phone.svg);
        @include bg;
    }
    &:hover {
        color: $brown;
    }    
    &--footer {
        margin-bottom: 31px;
    }
}