.footer {
    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
        border-bottom: 1px solid rgba($black, 0.3);
        @include max($xl) {
            padding-bottom: 50px;
        }  
        @include max($lg) {
            flex-wrap: wrap;
        }  
        @include max($sm) {
            padding-bottom: 20px;
        }  
    }
    &__left {
        margin-right: 25px; 
        @include max($sm) {
            margin-right: 0;
            margin-bottom: 20px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }  
    }
    &__right {
        @include max($lg) {
            max-width: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }  
        @include max($s) {
            flex-direction: column;
        }
    }
    &__btn {
        color: #fff;
        @include max($sm) {
            padding: 11px 15px;
        }
        @include max($s) {
            max-width: 100%;
            width: 100%;
        }
    }
    &__bottom {
        padding: 15px 0;
        display: flex;
        justify-content: center;
        font-size: 14px;
        color: rgba($black, 0.5);
    }
}