.logo {
    display: flex;
    outline: transparent;
    &--header {
        width: 122px;
        height: 53px;
        margin-right: 143px;
    }
    &--footer {
        width: 130px;
        height: 56px;
        margin-bottom: 31px;
    }
    &__images {
        width: 100%;
        object-fit: cover;
    }

}