.social {
    &--header {
        margin-right: 65px;
        @include max($xl) {
            margin-right: 25px;
        }
        @include max($lg) {
            margin-right: 85px;
            margin-left: auto;
        }
        @include max($md) {
            margin-right: 25px;
        } 
    }
    &--top {
        position: fixed;
        z-index: 50;
        bottom: 20px;
        margin: 0;
        opacity: 0;
        animation: top-social 1s 0.5s linear forwards;
    }
    &--footer {
        display: flex;
        align-items: center;
    }
    &__descr {
        display: block;
        margin-right: 20px;
        font-size: 14px;
        color: rgba($black, 0.5);
    }
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 24px;
        }
    }
    &__link {
        outline: transparent;
        display: flex;
        align-items: center;
        &:hover .social__icon{
            fill: $black;
        }
    }
    &__icon {
        fill: $brown;
        transition: fill 0.3s ease-in;
        &--insta {
            width: 24px;
            height: 24px;
        }
        &--facebook {
            width: 10px;
            height: 20px;
        }

    }
}

@keyframes top-social {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}