<section class="feedback">
    <div class="feedback__left">
        <h2 class="title title--white feedback__title">Обговоримо ваш проект?</h2>
        <div class="feedback__text">
            <p>
                Заповніть форму і найближчим часом ми зв'яжемося з вами!
            </p>
        </div>
        <form class="feedback__form"action="#">
            <label class="visually-hidden" for="name">enter name</label>
            <input class="feedback__input" type="text" id="name" name="name" placeholder="Ім'я">
            <label class="visually-hidden" for="tel">enter phone</label>
            <input class="feedback__input" type="tel" id="tel" name="tel" placeholder="Номер телефону">
            <label class="feedback__label">
                <input class="feedback__input-file" type="file" name="file">
                <span class="feedback__file">Прикріпити проект</span>
            </label>
            <button class="link btn feedback__btn" type="submit">Відправити</button>

            <label class="feedback__label-check">
                <input class="feedback__check" type="checkbox" name="check">
                <span class="feedback__checkbox"></span>
                <span class="feedback__descr">Даю згоду на оброблення персональних даних</span>
            </label>

        </form>
    </div>
    <div class="feedback__right" style="background-image: url(images/feedback-bg.jpg);"></div>
</section>