<section class="feedback-questions">
    <div class="feedback-questions__left">
        <h2 class="title title--white feedback-questions__title">Залишилися питання?</h2>
        <div class="feedback-questions__text">
            <p>
                Заповніть форму і найближчим часом ми зв'яжемося з вами!
            </p>
        </div>
        <form class="feedback-questions__form"action="#">
            <label class="visually-hidden" for="name-questions">enter name</label>
            <input class="feedback-questions__input" type="text" id="name-questions" name="name" placeholder="Ім'я">
            <label class="visually-hidden" for="tel-questions">enter phone</label>
            <input class="feedback-questions__input" type="tel" id="tel-questions" name="tel" placeholder="Номер телефону">
            <button class="link btn feedback-questions__btn" type="submit">Відправити</button>

            <label class="feedback-questions__label-check">
                <input class="feedback-questions__check" type="checkbox" name="check">
                <span class="feedback-questions__checkbox"></span>
                <span class="feedback-questions__descr">Даю згоду на оброблення персональних даних</span>
            </label>

        </form>
    </div>
    <div class="feedback-questions__right" style="background-image: url(images/feedback-questions-bg.jpg);"></div>
</section>