<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__left">
                <a class="logo logo--footer" href="#">
                    <img class="logo__images" src="images/logo.svg" alt="logo">
                </a>
                <div class="social social--footer">
                    <span class="social__descr">Соцмережі:</span>
                    <ul class="social__list">
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <svg class="social__icon social__icon--insta" aria-label="instagram">
                                    <use xlink:href="images/sprite.svg#insta"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <svg class="social__icon social__icon--facebook" aria-label="facebook">
                                    <use xlink:href="images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav class="menu menu--footer">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">Основні напрямки</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Про компанію</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Переваги</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Етапи роботи</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Зараз в роботі</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Стати партнером</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__right">
                <a class="phone phone--footer" href="tel:+380676615415">+380 67661 5415</a>
                <button class="btn link footer__btn" type="button">На каву з менеджером!</button>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copy">© 2022 Ringo</p>
        </div>
    </div>
</footer>